{
	"presets": [
      "@babel/typescript",
			"@babel/preset-env",
      // "@babel/env"
	],
	"plugins": [
		["@babel/plugin-proposal-decorators", { "legacy": true }],
			["@babel/proposal-class-properties", { "loose": true }],
			["@babel/proposal-object-rest-spread"],
			["@babel/plugin-transform-runtime"]
	]
}
